html{
    height: 100%;
}
body{
    height: 100%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: white;
}
.navbar{
    background-color: #121b1e;
}
.display-4{
    padding-top: 23%;
    color: black;
}
.news-img img{
    margin-left: 35%;
}
.news-info{
    color: white;
    margin: 50px;
}
.news-info h5{
    font-size: 17px;
    font-weight: lighter;
}
.news-info p{
    width: 70%;
    text-align: justify;
    margin-bottom: 10px;
}
#news{
    margin-top: 20px;
    margin-bottom: 50px;
}
section{
    margin-bottom: 10px;
}

#custom-tip{
    padding-bottom: 10px;
    padding-left: 20px;
    color: white;
}
.news-img{
    padding: 10px;
}
.btn-primary:hover{
    background-color: #6c757d;
}
.btn,.btn-primary{
    background-color: #121b1e;
    color: white;
    border: none;
    margin-left: 20%;
}
#contact{
    margin-top: 0;
    margin-bottom: 15%;
    color: white;
}
.mb-3{
    width: 50%;
}
.btn-lg{
    margin-top: 10px;
    float: right;
}
.btn-lg:hover{
    background-color: #6c757d;
}
label{
    float: left;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}
.navbar-dark .navbar-brand {
    padding-left: 30px;
    color: #fff;
}
img, svg{
    width: 50%;
}
#contact{
    color: white;
}
.containter{
    width: 70%;
    height: 75%;
}